# Read these instructions completely in order to receive full credit

- Before you submit the problem set, make sure everything runs as expected. Go to the menu bar at the top of Jupyter Notebook and click `Kernel > Restart & Run All`. Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

- You should not use `install.packages()` anywhere. You may assume that we have already installed all the packages needed to run your code.

- Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE" and delete the `stop()` functions. The `stop()` functions produce an error and are there to remind you of cells that need an answer.

- If you are working in a group, make sure you and your collaborators have been added to a group on Canvas as described at the beginning of lecture 2.
- As a backup, *also* fill in your uniqid as well as those of your collaborators below:

Your uniqid: `<replace with your uniqid>`

Uniqids of your collaborator(s): `<replace with their uniqids>`

- **Carefully proofread the PDF that you upload to Canvas. PDFs that have missing or truncated code cannot be graded and will not receive credit.**

---

In [ ]:
library(tidyverse)
library(stringr)
library(lubridate)
options(repr.plot.width=4, repr.plot.height=3)

# STATS 306
## Problem Set 6: Analyzing Twitter data
Each problem is worth one point, for a total of ten.

The file `tweets.txt.gz` contains tweets from June, 2016. The file is in a special format. The first few lines are:

In [ ]:
readLines("tweets.txt.gz", n = 11) %>% writeLines

Each datum consists of a triple of lines marked `T`, `U` and `W` containing the time of the tweet, the user, and the message itself, respectively. Each triple is separated by an empty line.

#### Problem 1
Read `tweets.txt.gz` in and store it as an R data frame/tibble called `tweets1`. It should have a single character column and 1.4m rows:
```{r}
# A tibble: 1,483,985 x 1
   X1                                   
   <chr>                                
 1 "T\t2009-06-11 00:00:03"             
 2 "U\thttp://twitter.com/imdb"         
 3 "W\tNo Post Title"                   
 4 <NA>                                 
 5 "T\t2009-06-11 16:37:14"             
 6 "U\thttp://twitter.com/ncruralhealth"
 7 "W\tNo Post Title"                   
 8 <NA>                                 
 9 "T\t2009-06-11 16:56:23"             
10 "U\thttp://twitter.com/boydjones"    
# ... with 1,483,975 more rows
```
(*Note*: The `.gz` file extension indicates that this file is compressed to save space. You can load the table using the usual `tidyverse` table loading commands, as if it were a regular text file.)

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 2
Next, convert `tweets1` so that it has three columns reflecting the three variables present in this data set. Store the resulting table in a variable called `tweets2`. The first rows of `tweets2` will now look like:
```
# A tibble: 3 x 3
  T                   U                                W                       
  <chr>               <chr>                            <chr>                   
1 2009-06-11 00:00:03 http://twitter.com/imdb          No Post Title           
2 2009-06-11 16:37:14 http://twitter.com/ncruralhealth No Post Title           
3 2009-06-11 16:56:23 http://twitter.com/boydjones     "listening to \"Big Liz…
```
(*Hint*: If you are having trouble getting this working on the full data set, try subsetting the table to a small number of rows in order to debug your code.)

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 3
Convert the `T` column to a properly formatted `datetime` object and give it (and the rest of the columns) an appropriate name. Also, strip off the leading `http://twitter.com/` from each user. Store the resulting table as `tweets3`. It will look like:
```
# A tibble: 370,997 x 3
   time                user          tweet                                     
   <dttm>              <chr>         <chr>                                     
 1 2009-06-11 00:00:03 imdb          No Post Title                             
 2 2009-06-11 16:37:14 ncruralhealth No Post Title                             
 3 2009-06-11 16:56:23 boydjones     "listening to \"Big Lizard - The Dead Mil…
 4 2009-06-11 16:56:59 cameron987    @beatrizchavez A dork? NO way... you are.…
 5 2009-06-11 16:57:03 selenato      @okaaaa 本当ね！2週間楽しみがありすぎわ、まじで…本当きどうさんへの愛がこ…
 6 2009-06-11 16:57:30 nbeasley10    Just got a chance to buy All-Star tickets…
 7 2009-06-11 16:57:31 littlewing333 @kidhum and if an act has pull and they d…
 8 2009-06-11 16:57:33 lolcute       mebbe U fetch http://tinyurl.com/nz4fbr   
 9 2009-06-11 16:57:36 fr0st22       I have broken 1,000 twitter updates. Paaa…
10 2009-06-11 16:57:59 mavellsyrup   Food timmeeee :'D                         
# ... with 370,987 more rows
```

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 4
Plot the total number of tweets for each hour of each day in `tweets3`.

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 5
For what hour of what day was there the largest volume of tweets? Can you give an explanation for what caused this spike?

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 6
The most active user in this snapshot of Twitter data is the user `delicious50`, who tweeted 113 times. Make a plot of the distribution of the number of times each user tweeted. Can you say anything about the form of this distribution?

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 7
On Twitter, a user can "mention" someone by inserting their username, prepended with an `@`, into a Tweet. 

For example, the fourth tweet in this dataset, user `cameron987` @mentions user `beatrizchavez`:

<table>
<caption>A tibble: 1 × 3</caption>
<thead>
	<tr><th scope="col">time</th><th scope="col">user</th><th scope="col">tweet</th></tr>
	<tr><th scope="col">&lt;dttm&gt;</th><th scope="col">&lt;chr&gt;</th><th scope="col">&lt;chr&gt;</th></tr>
</thead>
<tbody>
	<tr><td>2009-06-11 16:56:59</td><td>cameron987</td><td>@beatrizchavez A dork? NO way... you are. I just have no shame... I #squarespace want #squarespace that #squarespace iPhone #squarespace.</td></tr>
</tbody>
</table>
     
Count the number of times that each user is mentioned in this data set, and plot the distribution of this number. Can you say anything more about this distribution?

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 8

If we look at tweets by the users `westlifebunny` and `janine_j9`, we see that each has @mentioned the other:

<table>
<caption>A tibble: 3 × 3</caption>
<thead>
	<tr><th scope="col">time</th><th scope="col">user</th><th scope="col">tweet</th></tr>
	<tr><th scope="col">&lt;dttm&gt;</th><th scope="col">&lt;chr&gt;</th><th scope="col">&lt;chr&gt;</th></tr>
</thead>
<tbody>
	<tr><td>2009-06-11 17:55:26</td><td>westlifebunny</td><td>@janine_j9 Actually I'm already there, lol!                                                                                                </td></tr>
	<tr><td>2009-06-23 15:15:00</td><td>janine_j9    </td><td>RT @westlifebunny: NBC News - Hold Back My Heart (Michael Johns) My take on the album over at my MSNBC Newsvine column! http://bit.ly/i8UB3</td></tr>
</tbody>
</table>

We could say that `westlifebunny` and `janine_j9` form a pair. How many other pairs of users exist in this dataset who have mutually mentioned each other? (Do not include pairs where the user @mentions themself.)

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 9
In problem 7, we might guess that the user `cameron987` is male, while `beatrizchavez` is female. (This is only a guess!)
 
In an earlier problem set, we used the `babynames` package to study naming trends in baby names over time. Because this table contains information on sex, we can use it to infer the sex of various Twitter handles.

Use the `babynames` table to assign a gender to each Twitter handle. Specifically, assign to each Twitter handle the gender of the name in `babynames` which immediately precedes it in lexicographic (sort) order. (If not such name exists, drop the handle.) 

If a name is used for both males and females, select the more popular of the two genders. 

For example, if we sorted all of the names in `babynames` and then inserted the handle `cameron987` into this sorted list, we would find that it got inserted between the names "cameron" and "camerone". Since the name Cameron is used as both a male and female name in `babynames`, but there are ten times as many boys named Cameron in babynames as girls, we would assign a sex of `male` to `cameron987`.

What fraction of male vs. female twitter users do you see when assigning genders in this way?

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 10
Use your results from problems 8 and 9 to investigate the following question: are male Twitter users more likely to @mention female Twitter users than the other way around?

In [ ]:
# YOUR CODE HERE
stop()