In [2]:
library(jsonlite)
library(tidyverse)
library(stringr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.0     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [10]:
trump_tweets <- str_c(2010:2019, ".json") %>% 
                map_df(~ jsonlite::read_json(path = ., simplifyVector = T)) %>% tbl_df

In [11]:
save(trump_tweets, file="../tt.RData")

In [9]:
print(trump_tweets)

# A tibble: 41,958 x 8
   source id_str text  created_at retweet_count in_reply_to_use… favorite_count
   <chr>  <chr>  <chr> <chr>              <int> <chr>                     <int>
 1 Twitt… 20595… WIsh… Thu Dec 3…           144 <NA>                         42
 2 Twitt… 17979… Wish… Thu Dec 2…           109 <NA>                         55
 3 Twitt… 15413… Don'… Thu Dec 1…           112 <NA>                         20
 4 Twitt… 14785… I'll… Tue Dec 1…           250 <NA>                         37
 5 Twitt… 14359… ...T… Mon Dec 1…            12 <NA>                          6
 6 Twitt… 14358… Thos… Mon Dec 1…            14 <NA>                          6
 7 Twitt… 14356… "All… Mon Dec 1…            24 <NA>                          8
 8 Twitt… 13242… Cong… Fri Dec 1…            44 <NA>                         12
 9 Twitt… 12960… Toni… Thu Dec 0…            55 <NA>                          7
10 Twitt… 10355… Toni… Thu Dec 0…            24 <NA>                          3
# … with 41,948 more rows, and 1 more variable: is_retweet <lgl>